body{
	background: url(background.jpg);
	background-size: cover;

}

html{
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 25%;
	color: black;
}
h1{
	font-family: Merriweather;
	font-weight: 700;
	font-size: 5em;
	text-shadow: 1px 1px 2px black,
	             1px 0px 8px rgba(0,0,0,0.5),
	             1px 0px 18px rgba(0,0,0,0.2);
}

h3{
		text-shadow: 1px 1px 2px black,
	             1px 0px 8px rgba(0,0,0,0.5),
	             1px 0px 18px rgba(0,0,0,0.2);
}

hr{
	width: 400px;	
	color: black;
	/* Gradient transparent - color - transparent */
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.fas{
	padding-left: 10px;
	padding-right: 10px;
}

/*button effect*/
a{
	text-decoration: none;
	display: inline-block;
	border: 2px solid black;
	transition: 0.4s linear;
	padding: 10px 20px;
	color: black;
	border-radius: 10px;
}
a:hover{
	color: white;
	background: black;
}

img{
	
	height: 210px;
	width: 600px;
	align-content: center;
	
}